.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.unibo-logo-container{
  background-color: #337AB7;
  min-width: 80px !important;
}
.App-header {
  background-color: #0091BD;
  max-height: 65px;
  text-align: center;
}
.App-sub-header {
  background-color: #2e2e2e;
  height: 10px;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.app-footer-divider {
  display: block;
  background-color: #337AB7;
  height: 10px;
}
.app-tabs-container{
  background-color: #fff;
  display: block;
}
.app-footer-container{
  position: fixed;
  bottom:0px;
  height: 90px;
  background-color: #2e2e2e;
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
}
.footer-content-wrapper{
  display: inline-block;
}
.icon-text-wrapper{
  height: 22px;
  margin-top: 5px;
}
.icon-wrapper{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #337AB7;
  display: inline-block;
}
.icon-text{
  margin-left: 10px;
  height: 22px;
  text-align: left;
  display: inline-block;
}

.app-footer-container .central-txt-content{
  margin-top: 15px;
}
th {
    text-align: center;
}
.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: unset;
}
textarea.form-control {
    height: auto;
    background-color: #F1F0EF;
    border-radius: .5em;
}
.table-header{
    background-color: #337ab7;
    color: #fff;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
    height: auto;
    display: inline;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    height: 200px!important;
    border: 1px solid #ddd;
    overflow-y: scroll;
}
.loader-container{
 position: relative;
    margin: auto;
    margin-top: 10%;
    width: 55px;
    height: 55px;
}
.modal-body{
  background-color: #2A272D;
}
.filepond--root{
  font-size: 2rem;
  height: 210px;
  border: 1px solid #ccc;
  border-radius: .5em;
}
.main-app-content {
  height: auto !important;
  margin: 0 auto -100px;
  min-height: 100%;
  background-color: #fff;
  margin-bottom: -50px;
}
.footer-style {
  background-color: #0091BD;
  height: 110px;
  text-align: center;
}
.navbar-fixed-bottom{
  position: relative !important;
  background-color: #2e2e2e;
  bottom: 0px;
}
.push-div{
  height: 50px;
  width: 100%;
}
.my-footer{
  background-color: #2e2e2e;
  position: absolute;
  bottom: -30px;
  height: 90px;
  width: 100%;
}

.App-main{
  height: 80%;
}

.CalendarDay__highlighted_calendar {
  background: #0091BD;
  color: #337AB7;
}

.CalendarDay__highlighted_calendar:hover {
  background: #0091BD;
  color: #337AB7;
}

.CalendarDay__highlighted_calendar:active {
  background: #0091BD;
  color: #337AB7;
}

.DateInput_input__focused {
    outline: 0;
    background: #fff;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #337AB7;
    border-left: 0;
}
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #337AB7;
    border: 1px solid #337AB7;
    color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (min-width: 768px) {
  .app-tabs-container{
    height: 400px ;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .app-tabs-container{
    height: 600px;
  }
}
